.container {
  background-color: whitesmoke;
  border: none;
  width: 600px;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
#input {
  width: 26rem;
  padding: 10px 90px;
  text-align: center;
}
.messages {
  color: lightskyblue;
  font-size: 25px;
}
.alert {
  color: #fd4242;
}
